---
import { getCollection } from "astro:content";
import LegalBase from "@layouts/Legal.astro";
import Divider from "@components/Divider.astro";
import { getLangFromLegalUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromLegalUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const policies = await getCollection("legal");

  return policies.map((policy) => {
    const { type, lang } = policy.data;
    const [appName] = policy.slug.split("/");
    const normalizeAppName = appName.toLowerCase();

    return {
      params: {
        appName: normalizeAppName,
        type,
        lang,
      },
      props: {
        policy,
      },
    };
  });
}

const { policy } = Astro.props;
const { Content } = await policy.render();
---

<LegalBase title={policy.data.title}>
  <div class="legal-container">
    <h1>{t("legal.privacy")}</h1>

    <p>
      {t("legal.app")}: <strong>{policy.data.app}</strong><br />
      {t("legal.version")}: {policy.data.version}<br />
      {t("legal.effectiveDate")}: {
        policy.data.effectiveDate.toLocaleDateString()
      }
    </p>

    <div class="divider-container">
      <Divider />
    </div>

    <article>
      <Content />
    </article>
  </div>
</LegalBase>

<style>
  .divider-container {
    margin: 24px 0px;
  }

  .legal-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    font-size: 1rem;
    line-height: 1.6;
  }
</style>
