section {
  display: flex;
  flex-direction: column;
  padding: 60px 16px;
}

section .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

#hero {
  min-height: 80vh;
  min-height: 80dvh;
  justify-content: center;
}

#hero > div {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.principal-links {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.principal-links {
  margin-bottom: 8px;
}

#about {
  background-color: var(--neutral-light);
}

#about > div {
  gap: 32px;
}

#contact {
  background-color: var(--neutral-light);
  gap: 16;
}

.primary-text {
  color: var(--accent-primary);
}

.profile-picture {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  object-position: center -10px;
  border-radius: 100%;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
