---
import Base from "../layouts/Base.astro";
import Button from "@components/Button.astro";
---

<Base title="Brandon — Portfolio">
  <!-- HERO -->
  <section id="hero">
    <Button text="Hello" />
    <Button text="Hello" type="Outlined" />
    <Button text="Hello" type="Text" />
  </section>

  <!-- ABOUT -->
  <section id="about"></section>

  <!-- PROJECTS -->
  <section id="projects"></section>

  <!-- CONTACT -->
  <section id="contact"></section>
</Base>
