---
import GuidesLayout from "@layouts/Guides.astro";
import "@styles/GuidesStyles.astro";
import { getGuides } from "@utils/guides";

const guides = await getGuides("en");

const topics = Array.from(new Set(guides.map((guide) => guide.data.topic)));
---

<GuidesLayout title="Guides">
  <h1>Guides</h1>
  <p>Explore our detailed guides on various topics.</p>
  <ul>
    {
      topics.map((topic) => (
        <li key={topic}>
          <a class="topic-link" href={`guides/${topic}`} key={topic}>
            {topic}
          </a>
        </li>
      ))
    }
  </ul>
</GuidesLayout>
