---
interface Props {
  type?: "Outlined" | "Default" | "Text";
  target?: "_self" | "_blank" | "_parent" | "_top";
  color?: string;
  id?: string;
  href?: string;
}

const { type = "Default", href, target = "_blank", color, id } = Astro.props;
---

<a
  id={id}
  target={target}
  href={href}
  style={`color: ${color}`}
  class:list={[
    "btn",
    type === "Default" && "btn-default",
    type === "Outlined" && "btn-outlined",
    type === "Text" && "btn-text",
  ]}
>
  <slot />
</a>

<style>
  a {
    text-decoration: none;
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 100ms ease-in;
    align-items: center;
    gap: 8px;
  }

  .btn-default {
    background-color: var(--accent-primary);
    color: white;
  }

  .btn-default:hover {
    background-color: var(--accent-dark);
  }

  .btn-default:active {
    background-color: var(--accent-darkest);
  }

  .btn-outlined {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border-color: var(--accent-primary);
    color: var(--accent-primary);
  }

  .btn-outlined:hover {
    border-color: var(--accent-dark);
    color: var(--accent-dark);
  }

  .btn-outlined:active {
    border-color: var(--accent-darkest);
    color: var(--accent-darkest);
  }

  .btn-text {
    background-color: transparent;
    color: var(--accent-primary);
  }

  .btn-text:hover {
    border-color: var(--accent-dark);
    color: var(--accent-dark);
  }

  .btn-text:active {
    border-color: var(--accent-darkest);
    color: var(--accent-darkest);
  }
</style>
