---
import Button from "@components/Button.astro";
import { Linkedin, Mail, Github } from "@lucide/astro";
import { email, githubProfile, linkedIn } from "@constants";
---

<div class="contact-links">
  <Button
    type="Text"
    color="black"
    ariaLabel="Github Profile"
    href={githubProfile}
  >
    <Github />
  </Button>
  <Button type="Text" color="black" ariaLabel="LinkedIn" href={linkedIn}>
    <Linkedin />
  </Button>
  <Button
    type="Text"
    color="black"
    ariaLabel="MailTo Author"
    href={`mailto:${email}`}><Mail /></Button
  >
</div>

<style>
  .contact-links {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
</style>
