---
import type { ui } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import { Astro as AstroIcon } from "simple-icons-astro";

interface Props {
  lang: keyof typeof ui;
}

const { lang = "en" } = Astro.props;

const t = useTranslations(lang);
---

<footer>
  <p class="caption">© 2025 Brandon - {t("footer.label")} <AstroIcon /></p>
</footer>

<style>
  footer {
    min-height: 60px;
    background-color: var(--neutral-light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0 !important;
  }
</style>
