---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { Astro as AstroIcon } from "simple-icons-astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div class="footer-content">
    <p class="caption">
      BoxDev by Brandon M. - {t("footer.label")}
    </p>
    <AstroIcon class="icon" />
  </div>
</footer>

<style>
  footer {
    min-height: 80px;
    background-color: var(--neutral-light);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > .caption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0 !important;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 0;
  }

  .icon {
    color: var(--neutral-light);
  }
</style>
