---
import LanguagePicker from "@components/LanguagePicker.astro";
import { MenuIcon } from "@lucide/astro";
import Divider from "@components/Divider.astro";
---

<header class="header-container">
  <div class="header-content">
    <a class="header-link--brand" href={`/`}>BoxDev</a>
    <div class="header-links">
      <slot name="link" />
    </div>
    <div class="header-right">
      <div class="header-links">
        <slot name="secondary-link" />
      </div>
      <LanguagePicker />
      <div class="menu-icon">
        <MenuIcon />
      </div>
    </div>
    <div class="mobile-menu">
      <ul class="mobile-menu-links">
        <slot name="link" />
        <Divider />
        <slot name="secondary-link" />
      </ul>
    </div>
  </div>
</header>

<style>
  .header-container {
    z-index: 2000;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffffd9;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid var(--neutral-medium);
    transition: transform 0.3s ease;
    backdrop-filter: blur(8px);
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .header-link {
    color: var(--neutral-black);
  }

  .menu-icon {
    display: none;
    padding: 4px 8px;
  }

  .mobile-menu {
    position: absolute;
    top: 59px;
    right: 0;
    left: 0;
    background-color: var(--neutral-white);
    padding: 20px 16px;
    z-index: 1000;
    border-bottom: 1px solid var(--neutral-light);

    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;

    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
  }

  .mobile-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .mobile-menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }

  @media (max-width: 600px) {
    .header-links {
      display: none;
    }

    .menu-icon {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }
  }
</style>

<script>
  const menuIcon = document.querySelector(".menu-icon");
  const mobileMenu = document.querySelector(".mobile-menu");

  const closeMenu = () => {
    mobileMenu.classList.remove("open");
  };

  // handle open menu with menu button
  menuIcon.addEventListener("click", (e) => {
    e.stopPropagation();
    mobileMenu.classList.toggle("open");
  });

  // handle user press on any part of the website
  document.addEventListener("click", (event) => {
    if (
      !menuIcon.contains(event.target) &&
      !mobileMenu.contains(event.target)
    ) {
      closeMenu();
    }
  });

  // handle on press links
  const mobileMenuLinks = document.querySelectorAll(".mobile-menu-links a");
  mobileMenuLinks.forEach((link) => {
    link.addEventListener("click", closeMenu);
  });

  window.addEventListener("resize", closeMenu);
  window.addEventListener("scroll", closeMenu);
</script>
