---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LanguagePicker from "@components/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="header-container">
  <a class="link--brand" href="/">BoxDev</a>
  <div class="header-links">
    <a class="header-link" href="#about">{t("nav.about")}</a>
    <a class="header-link" href="#projects">{t("nav.project")}</a>
    <a class="header-link" href="#contact">{t("nav.contact")}</a>
  </div>
  <div class="links">
    <LanguagePicker />
  </div>
</header>

<style>
  .header-container {
    display: flex;
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--neutral-white);
    border-bottom-style: solid;
    border-bottom-color: var(--neutral-medium);
    border-bottom-width: 1px;
  }

  .header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .header-link {
    text-decoration: none;
    color: var(--neutral-black);
  }
</style>

<script></script>
