---
import { languages } from "@i18n/langs";
import Dropdown from "@components/Dropdown.astro";
import { getLangFromUrl } from "@i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
const currentURL = new URL(Astro.url);

const langs = Object.entries(languages).map(([lang, label]) => ({
  label,
  href: `/${lang}${currentURL.pathname.replace(`/${currentLang}`, "")}`,
}));
---

<Dropdown items={langs}>
  <span slot="trigger">{currentLang.toUpperCase()}</span>
</Dropdown>
