---
import Button from "@components/Button.astro";
import { Link, Github } from "@lucide/astro";
import Card from "@components/Card.astro";

interface Props {
  title: string;
  description: string;
  viewLink: string;
  codeLink: string;
}

const { title, description, viewLink, codeLink } = Astro.props;
---

<Card data-card>
  <div class="project-card-content">
    <h4>{title}</h4>
    <p>
      {description}
    </p>
    <slot name="content" />
  </div>
  <div class="project-card-tech">
    <slot name="tech" />
  </div>
  <div class="project-card-actions">
    <Button type="Outlined" href={codeLink}><Github />Code</Button>
    <Button href={viewLink}><Link />View</Button>
  </div>
</Card>

<style>
  .project-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    gap: 4px;
    margin-bottom: 8px;
  }

  .project-card-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .project-card-actions {
    display: flex;
    gap: 8px;
    flex-direction: row;
  }

  .project-card-actions a {
    width: 100%;
  }
</style>

<script define:vars={{ viewLink }}>
  const cards = document.querySelectorAll("[data-card]");

  cards.forEach((card) => {
    const buttons = card.querySelectorAll("a, button");

    card.addEventListener("click", () => {
      window.open(viewLink, "_blank");
    });

    buttons.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        e.stopPropagation();
      });
    });
  });
</script>
