---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Base from "@layouts/Base.astro";
import Footer from "@components/Footer.astro";
import Bradcrumb from "@components/BreadCrumb.astro";
import Header from "@components/Header.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title?: string;
  guide?: string;
}

const { title = t("title.guides"), guide } = Astro.props;
const breadcrumbItems = [{ label: t("nav.guides"), href: `/${lang}/guides` }];
if (guide) {
  breadcrumbItems.push({ label: guide, href: "" });
}
---

<Base title={title} lang={lang}>
  <Header />
  <main>
    <Bradcrumb slot="breadcrumb" items={breadcrumbItems} />
    <slot />
  </main>
  <Footer />
</Base>
