---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Base from "@layouts/Base.astro";
import Footer from "@components/Footer.astro";
import Bradcrumb from "@components/BreadCrumb.astro";
import Header from "@components/Header.astro";
import { UiKey } from "@i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title?: string;
  document?: string;
}
const { title = t(UiKey["title.legal"]), document } = Astro.props;
const breadcrumbItems = [
  { label: t(UiKey["legal.title"]), href: `/${lang}/legal` },
];
if (document) {
  breadcrumbItems.push({ label: document, href: "" });
}
---

<Base title={title} lang={lang}>
  <Header hideMenu />
  <main>
    <Bradcrumb slot="breadcrumb" items={breadcrumbItems} />
    <slot />
  </main>
  <Footer />
</Base>
